<%- include('./partials/header.ejs'); %>

<h1>ACERCA DE</h1>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quia totam,
  quos, dolorum vero mollitia cumque tempora repellendus ipsam distinctio
  repellat. Sed natus delectus, maiores accusantium sit impedit tempore mollitia
  maxime, autem qui error vel iusto doloremque in asperiores distinctio
  cupiditate commodi facere quas explicabo, odit animi? Consequuntur ipsam
  cumque rem nihil. Numquam, alias vel, officia porro quisquam nesciunt, eaque
  voluptates excepturi corporis possimus nihil molestias pariatur? Aliquid rerum
  eum iste consectetur excepturi quas adipisci dolor in reprehenderit error eos
  aspernatur, dicta laboriosam! Molestiae illum, assumenda rerum distinctio et
  corrupti esse fugit ipsa fuga quae temporibus consectetur accusantium
  voluptatibus eligendi!
</p>

<%- include('./partials/footer.ejs'); %>
